h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.contacts-list, .gallery-list, .masters-list, .reasons-list, .prices-list, .about-list, .mob-social, .mob-menu-list, .site-list, .socials, .socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: "Open Sans", sans-serif;
}
body.menu-open {
  overflow: hidden;
}
body.modal-open {
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 448px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.btn {
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid #ff6c00;
  border-radius: 25px;
  background-color: transparent;
  min-width: 160px;
  min-height: 40px;
  transition: background-color 300ms linear, color 300ms linear;
}
.btn:hover, .btn:focus {
  background-color: #ff6c00;
  color: #ffffff;
}

.socials-list {
  display: flex;
  align-items: center;
}
.socials-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.socials-list__item + .socials-list__item {
  margin-left: 40px;
}

.socials-list__link {
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
  transition: color 300ms linear;
}
.socials-list__link:hover, .socials-list__link:focus {
  color: #ff6c00;
}

.pre-title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.pre-title::before {
  content: "";
  height: 1px;
  width: 60px;
  margin-right: 21px;
  background-color: currentColor;
}

.section-title {
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(157, 164, 189, 0.6);
  padding: 35px 15px;
  transition: opacity 300ms linear, visibility 300ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 90vw;
  min-height: 500px;
  background-color: #ffffff;
  position: relative;
  transition: transform 300ms linear;
  padding: 30px 40px;
}
@media screen and (min-width: 480px) {
  .modal {
    width: 400px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .modal {
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.9);
  }
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ff6c00;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  color: #303030;
  transition: color 300ms linear;
}
.modal-close:hover {
  color: #ff6c00;
}

.modal-close-icon {
  fill: currentColor;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.67;
  text-align: center;
  color: #303030;
  margin-bottom: 20px;
}

.form-field {
  margin-bottom: 10px;
}

.input-text {
  font-size: 12px;
  color: #303030;
  display: block;
  margin-bottom: 5px;
}

.input-wrap {
  position: relative;
}

.form-input {
  height: 45px;
  padding: 10px;
  padding-left: 40px;
}
.form-input::placeholder {
  color: #ff6c00;
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 300ms linear;
}
.form-input:focus + .input-icon {
  fill: #ff6c00;
}

.form-text {
  height: 100px;
  padding: 10px;
  resize: none;
}
.form-text::placeholder {
  color: #ff6c00;
}

.form-input,
.form-text {
  width: 100%;
  border: 1px solid #555555;
  border-radius: 5px;
  color: #555555;
  transition: border-color 300ms linear;
}
.form-input:focus,
.form-text:focus {
  outline: none;
  border-color: #ff6c00;
}

.check-text {
  color: #555555;
  font-size: 14px;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms linear;
}
.policy-check:checked + .check-text span {
  border: none;
  background-color: #ff6c00;
}

.policy-icon {
  fill: transparent;
  transition: fill 300ms linear;
}
.policy-check:checked + .check-text .policy-icon {
  fill: #ffffff;
}

.form-btn {
  color: #303030;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__item + .socials__item {
  margin-left: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #303030;
  transition: color 300ms linear;
}
.socials__link:hover, .socials__link:focus {
  color: #ff6c00;
}

.socials__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 32px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 70px;
}

.logo__icon {
  fill: #9d9ea0;
}
@media screen and (min-width: 768px) {
  .logo__icon {
    fill: #303030;
  }
}

@media screen and (max-width: 767px) {
  .site-nav {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .site-nav {
    align-self: flex-start;
    margin-top: 10px;
  }
}

.site-list {
  display: flex;
}

.site-list__item:not(:last-child) {
  margin-right: 24px;
}
@media screen and (min-width: 1200px) {
  .site-list__item:not(:last-child) {
    margin-right: 40px;
  }
}

@media screen and (max-width: 767px) {
  .connect {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .connect {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .connect {
    margin-left: auto;
  }
}

@media screen and (max-width: 1199px) {
  .connect__tel {
    margin-top: 20px;
  }
}

.site-list__link,
.connect__tel {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  transition: color 300ms linear;
}
.site-list__link:hover, .site-list__link:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: #ff6c00;
}

.connect__btn {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .connect__btn {
    margin-left: 40px;
  }
}

.menu-open-btn {
  margin-left: auto;
  fill: #9d9ea0;
}

.menu-close-btn {
  fill: #303030;
  position: absolute;
  top: 48px;
  right: 31px;
}

.menu-open-btn,
.menu-close-btn {
  display: inline-flex;
  padding: 0;
  border: none;
  background-color: transparent;
  transition: color 300ms linear;
}
@media screen and (min-width: 768px) {
  .menu-open-btn,
  .menu-close-btn {
    display: none;
  }
}
.menu-open-btn:hover, .menu-open-btn:focus,
.menu-close-btn:hover,
.menu-close-btn:focus {
  fill: #ff6c00;
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  right: 0;
  width: 359px;
  height: 100vh;
  z-index: 1;
  padding: 118px 60px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(0);
  transition: transform 500ms linear;
}
.backdrop.is-hidden .mob-menu {
  transform: translateX(100%);
}

.mob-menu-list__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu__connect {
  margin-bottom: 64px;
}

.mob-connect__tel {
  display: block;
  margin-bottom: 24px;
}

.mob-menu-list__link,
.mob-connect__tel {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.39;
  letter-spacing: 0.01em;
  color: #303030;
  transition: color 300ms linear;
}
.mob-menu-list__link:hover, .mob-menu-list__link:focus,
.mob-connect__tel:hover,
.mob-connect__tel:focus {
  color: #ff6c00;
}

.mob-social__item:first-child {
  display: flex;
  align-items: center;
}
.mob-social__item:first-child::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
  margin-right: 40px;
}

.mob-social__item:not(:first-child) {
  margin-left: 100px;
}

.mob-social__item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-social__link {
  color: #303030;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.02em;
  transition: color 300ms linear;
}
.mob-social__link:hover, .mob-social__link:focus {
  color: #ff6c00;
}

.hero__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .hero__container {
    padding: 0;
    width: 100%;
    max-width: 480px;
  }
}

.hero-social-box {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero-social-box {
    width: 113px;
    display: flex;
    align-items: flex-end;
    padding-left: 23px;
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-social-box {
    width: 97px;
  }
}

.hero-social-box__trans {
  transform: rotate(-90deg) translateX(-19px);
  transform-origin: top left;
}

.hero-content {
  background-color: #202020;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/hero-bg-mob.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  flex-grow: 1;
  padding: 208px 0 183px 31px;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/hero-bg-mob-2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero-content {
    padding: 280px 0 234px 70px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/hero-bg-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("/images/hero/hero-bg-tab-2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero-content {
    padding: 272px 0 206px 96px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/hero-bg.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-content {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url("../images/hero/hero-bg-2x.jpg");
  }
}

.hero-content__pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.hero-content__title {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  line-height: 1.17;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin-bottom: 20px;
}
@media screen and (max-width: 349px) {
  .hero-content__title {
    font-size: 42px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-content__title {
    font-size: 72px;
    line-height: 1.18;
  }
}

.hero-content__after-title {
  color: #9da4bd;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  max-width: 306px;
}
@media screen and (min-width: 768px) {
  .hero-content__after-title {
    max-width: 349px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-content__after-title {
    font-size: 18px;
    line-height: 1.67;
    max-width: 400px;
  }
}

.about {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .about {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .about {
    padding: 139px 0 121px;
  }
}

.about__container {
  display: flex;
}

.about-list {
  flex-basis: calc((100% - 30px) / 2);
  margin-right: 30px;
}
@media screen and (max-width: 767px) {
  .about-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    margin-right: 64px;
  }
}

@media screen and (max-width: 1199px) {
  .about-list__item:first-child {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about-list__item:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .about__content {
    flex-basis: 500px;
  }
}

.about__pre-title {
  color: #303030;
}

.about__title {
  color: #303030;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .about__title {
    font-size: 28px;
    line-height: 1.18;
    max-width: 330px;
  }
}

.about__after-title {
  color: #555555;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .about__after-title {
    font-size: 18px;
    line-height: 1.67;
  }
}

.about__text {
  color: #555555;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.about__btn {
  color: #303030;
}

.prices {
  background-color: #111319;
  padding: 84px 0;
  background-image: url("../images/prices/prices-bg-mob.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 480px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/prices/prices-bg-mob-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .prices {
    padding: 100px 0;
    background-image: url("../images/prices/prices-bg-tab.png");
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/prices/prices-bg-tab-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .prices {
    padding: 130px 0;
    background-image: url("../images/prices/prices-bg.png");
    max-width: 1280px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .prices {
    background-image: url("../images/prices/prices-bg-2x.png");
  }
}

.prices__pre-title {
  color: rgba(157, 164, 189, 0.6);
}

.prices__title {
  color: #ffffff;
  margin-bottom: 44px;
}

.prices__wrap {
  margin-bottom: 50px;
}
@media screen and (max-width: 1199px) {
  .prices__wrap {
    padding: 30px;
    background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
  }
}
@media screen and (min-width: 1200px) {
  .prices__wrap {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .prices-list {
    flex-basis: 50%;
    padding: 30px 40px;
  }
}

@media screen and (max-width: 1199px) {
  .prices-list--left {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .prices-list--left {
    background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
  }
}

@media screen and (min-width: 1200px) {
  .prices-list--right {
    background-image: linear-gradient(#090b13, rgba(9, 11, 19, 0.2));
  }
}

.prices-list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
}
.prices-list__item:last-child {
  margin-bottom: 0;
}
.prices-list__item::before {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid rgba(157, 164, 189, 0.12);
  margin-left: 6px;
  margin-right: 6px;
}

.prices-list__text {
  color: #9da4bd;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.02em;
}
@media screen and (max-width: 399px) {
  .prices-list__text {
    font-size: 3.4vw;
  }
}
@media screen and (min-width: 768px) {
  .prices-list__text {
    font-size: 18px;
    line-height: 1.67;
  }
}
.prices-list__text:first-child {
  order: -1;
}

.prices__btn {
  color: #ffffff;
  display: block;
  margin: 0 auto;
}

.reasons {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .reasons {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .reasons {
    padding: 121px 0 130px;
  }
}

.reasons__container {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .reasons__container {
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .reasons__stats {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .reasons__stats {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }
}

.reasons__content {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .reasons__content {
    width: 500px;
  }
}

.reasons-list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .reasons-list {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .reasons-list {
    width: 370px;
  }
}

.reasons-list__item {
  width: calc((100% - 30px) / 2);
  background-color: #f7f7f7;
  height: 133px;
  padding: 20px;
  text-align: center;
}
.reasons-list__item:nth-child(odd) {
  margin-right: 30px;
}
.reasons-list__item:nth-child(even) {
  margin-top: 30px;
}

.reasons-list__digit {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.05em;
  color: #303030;
  position: relative;
}
.reasons-list__digit::before {
  content: "";
  display: block;
  width: 13px;
  height: 22px;
  background-image: url("../images/icon-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 7px;
  right: -15px;
}

.reasons-list__text {
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  color: #303030;
  margin-top: 6px;
}

.reasons__pre-title {
  color: #303030;
}

.reasons__title {
  color: #303030;
  margin-bottom: 20px;
}

.reasons__after-title {
  color: #555555;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.masters {
  padding: 84px 0;
  background-color: #f7f7f7;
}
@media screen and (min-width: 768px) {
  .masters {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .masters {
    padding: 130px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .masters__container {
    width: 480px;
  }
}

.masters__pre-title {
  color: #303030;
}

.masters__title {
  color: #303030;
  margin-bottom: 44px;
}

@media screen and (max-width: 1199px) {
  .masters-list {
    margin-bottom: -64px;
  }
}
@media screen and (min-width: 1200px) {
  .masters-list {
    display: flex;
    margin-left: -30px;
  }
}

@media screen and (min-width: 768px) {
  .masters-list__item {
    flex-basis: 450px;
  }
}
@media screen and (max-width: 1199px) {
  .masters-list__item {
    margin-bottom: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .masters-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
  }
}

.masters-list__content {
  padding-top: 30px;
}

.masters-list__title {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: 0.02em;
  color: #303030;
  margin-bottom: 8px;
}

.masters-list__text {
  text-align: center;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.02em;
  color: #ff6c00;
  margin-bottom: 30px;
}

.gallery {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding: 130px 0;
  }
}

.gallery__pre-title {
  margin-bottom: 44px;
  color: #303030;
}
@media screen and (max-width: 479px) {
  .gallery__pre-title {
    line-height: 1.91;
  }
}

.gallery-list {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.gallery-list__item {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .gallery-list__item {
    flex-basis: calc(50% - 30px);
    margin-left: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-list__item {
    flex-basis: calc(25% - 30px);
  }
}

.contact-wrap {
  background-color: #191c26;
  background-image: url("../images/contacts/contacts-bg-mob.png");
  background-repeat: no-repeat;
  background-size: 480px;
  background-position: bottom;
  max-width: 480px;
  margin: 0 auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url("../images/contacts/contacts-bg-mob-2x.png");
  }
}
@media screen and (min-width: 768px) {
  .contact-wrap {
    background-image: url("../images/contacts/contacts-bg-tab.png");
    background-size: 768px;
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url("../images/contacts/contacts-bg-tab-2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrap {
    background-image: url("../images/contacts/contacts-bg.png");
    background-size: calc(50% - 15px);
    background-position: right;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .contact-wrap {
    background-image: url("../images/contacts/contacts-bg-2x.png");
  }
}

@media screen and (min-width: 1200px) {
  .contact-wrap__container {
    display: flex;
  }
}

.online {
  padding: 84px 0;
}
@media screen and (max-width: 767px) {
  .online {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .online {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .online {
    flex-grow: 1;
    padding: 130px 40px 130px 0;
  }
}

.online__title {
  color: #ffffff;
  margin-bottom: 44px;
}

.online__inputs {
  margin-bottom: 44px;
}
@media screen and (min-width: 768px) {
  .online__inputs {
    display: flex;
    justify-content: space-between;
  }
}

.online__input {
  width: 100%;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .online__input {
    flex-basis: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .online__input {
    flex-basis: 270px;
  }
}
@media screen and (max-width: 767px) {
  .online__input:not(:last-child) {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 1200px) {
  .online__input--short {
    flex-basis: 260px;
  }
}

.online__text {
  width: 100%;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
}

.online__input,
.online__text {
  outline: none;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.1em;
  color: #ffffff;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  transition: border-color 300ms linear;
  cursor: pointer;
}
.online__input:hover, .online__input:focus,
.online__text:hover,
.online__text:focus {
  border-color: #ffffff;
}
.online__input:hover::placeholder, .online__input:focus::placeholder,
.online__text:hover::placeholder,
.online__text:focus::placeholder {
  color: #ffffff;
}
.online__input::placeholder,
.online__text::placeholder {
  text-transform: uppercase;
  transition: color 300ms linear;
}

.online__btn {
  color: #ffffff;
}

.contacts {
  padding: 84px 0;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding: 100px 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-basis: calc(50% - 15px);
    padding: 130px 0 130px 100px;
  }
}

.contacts__title {
  color: #ffffff;
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .contacts__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__content {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .contacts__address {
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__address {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__address {
    max-width: 270px;
    margin-bottom: 70px;
  }
}

.contacts-list__item + .contacts-list__item {
  margin-top: 20px;
}

.contacts-list__link {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  transition: color 300ms linear;
}
.contacts-list__link:hover, .contacts-list__link:focus {
  color: #ff6c00;
}

.contacts-list__line {
  display: flex;
  align-items: center;
}

.contacts-list__icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
  stroke: currentColor;
}

.contacts-list__text {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .contacts-list__text {
    margin-left: 40px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__bottom {
    width: 330px;
  }
}

.contacts__bottom-title {
  color: #ffffff;
}

.contacts__bottom-text {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}

.footer {
  padding: 44px 0;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 55px 0;
  }
}

.footer__container {
  display: flex;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    justify-content: space-between;
    align-items: center;
  }
}

.footer__copy {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 0.2em;
}

@media screen and (max-width: 767px) {
  .footer__socials-list {
    align-self: flex-end;
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=main.css.map */