.contacts {
    padding: 84px 0;

    @include tab {
        padding: 100px 0;
    }

    @include desk {
        flex-basis: calc(50% - 15px);
        padding: 130px 0 130px 100px;
    }
}

.contacts__title {
    color: $first-title-color;
    margin-bottom: 40px;

    @media screen and (max-width: 767px) {
        text-align: center;
    }
}

.contacts__content {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        justify-content: space-between;
    }
}

.contacts__address {
    @media screen and (max-width: 767px) {
        margin-bottom: 44px;
    }

    @include tab {
        max-width: 330px;
    }

    @include desk {
        max-width: 270px;
        margin-bottom: 70px;
    }
}

.contacts-list {
    @extend %list;
}

.contacts-list__item {
    & + & {
        margin-top: 20px;
    }
}

.contacts-list__link {
    font-style: normal;
    @include font(18px, null, 1.67, 0.02em);
    color: #9da4bd;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    transition: color 300ms linear;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.contacts-list__line {
    display: flex;
    align-items: center;
}

.contacts-list__icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
    stroke: currentColor;
}

.contacts-list__text {
    margin-left: 10px;

    @include tab {
        margin-left: 40px;
    }
}

.contacts__bottom {
    @include tab {
        width: 330px;
    }
}

.contacts__bottom-title {
    color: #ffffff;
}

.contacts__bottom-text {
    color: #9da4bd;
    @include font(18px, null, 1.67, 0.02em);
}
