.contact-wrap {
    background-color: #191c26;
    background-image: url("../images/contacts-bg-mobile.png");
    background-repeat: no-repeat;
    background-position: bottom;
    max-width: 480px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        background-image: url("../images/contacts-bg-tablet.png");
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        background-image: url("../images/contacts-bg.png");
        background-size: calc(50% - 15px);
        background-position: right;
        max-width: 1280px;
    }
}

.contact-wrap__container {
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}
