.contact-wrap {
    background-color: #191c26;
    background-image: url("../images/contacts/contacts-bg-mob.png");
    background-repeat: no-repeat;
    background-size: 480px;
    background-position: bottom;
    max-width: 480px;
    margin: 0 auto;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url("../images/contacts/contacts-bg-mob-2x.png");
    }

    @include tab {
        background-image: url("../images/contacts/contacts-bg-tab.png");
        background-size: 768px;
        max-width: 768px;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/contacts/contacts-bg-tab-2x.png");
        }
    }

    @include desk {
        background-image: url("../images/contacts/contacts-bg.png");
        background-size: calc(50% - 15px);
        background-position: right;
        max-width: 1280px;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            background-image: url("../images/contacts/contacts-bg-2x.png");
        }
    }
}

.contact-wrap__container {
    @include desk {
        display: flex;
    }
}
