.footer {
    padding: 55px 0;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copy {
    color: #9da4bd;
    @include font($fs: 11px, $ls: 0.2em);
}
