.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 32px 0;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__logo {
    margin-right: 70px;
}

.logo__icon {
    fill: #303030;
}

.site-list {
    @extend %list;
    display: flex;
}

.site-list__item:not(:last-child) {
    margin-right: 40px;
}

.connect {
    margin-left: auto;
}

.site-list__link,
.connect__tel {
    color: $header-color;
    @include font($fs: 12px, $lh: 1.33, $ls: 0.1em);
    transition: color 300ms linear;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.connect__btn {
    color: $first-btn-color;
    margin-left: 40px;
}
