.masters {
    padding: 84px 0;
    background-color: #f7f7f7;

    @include tab {
        padding: 100px 0;
    }

    @include desk {
        padding: 130px 0;
    }
}

.masters__container {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 480px;
    }
}

.masters__pre-title {
    color: #303030;
}

.masters__title {
    color: $second-title-color;
    margin-bottom: 44px;
}

.masters-list {
    @extend %list;

    @media screen and (max-width: 1199px) {
        margin-bottom: -64px;
    }

    @include desk {
        display: flex;
        margin-left: -30px;
    }
}

.masters-list__item {
    @media screen and (min-width: 768px) {
        flex-basis: 450px;
    }
    @media screen and (max-width: 1199px) {
        margin-bottom: 64px;
    }

    @include desk {
        flex-basis: calc((100% - 90px) / 3);
        margin-left: 30px;
    }
}

.masters-list__content {
    padding-top: 30px;
}

.masters-list__title {
    // line-height: calc(25 / 18);
    text-align: center;
    @include font($fw: 400, $lh: 1.39);
    color: $second-title-color;
    margin-bottom: 8px;
}

.masters-list__text {
    text-align: center;
    @include font(14px, null, 1.36, 0.02em);
    color: $accent-color;
    margin-bottom: 30px;
}
