.prices {
    background-color: #111319;
    padding: 84px 0;
    background-image: url("../images/prices-bg-mob.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 480px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
        padding: 100px 0;
        background-image: url("../images/prices-bg-tab.png");
        max-width: 768px;
    }

    @media screen and (min-width: 1200px) {
        padding: 130px 0;
        background-image: url("../images/prices-bg.png");
        max-width: 1280px;
    }
}

.prices__pre-title {
    color: rgba(157, 164, 189, 0.6);
}

.prices__title {
    color: $first-title-color;
    margin-bottom: 44px;
}

.prices__wrap {
    margin-bottom: 50px;

    @media screen and (max-width: 1199px) {
        padding: 30px;
        background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
    }

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.prices-list {
    @extend %list;

    @media screen and (min-width: 1200px) {
        flex-basis: 50%;
        padding: 30px 40px;
    }
}

.prices-list--left {
    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(#171a24, rgba(23, 26, 36, 0.2));
    }
}

.prices-list--right {
    @media screen and (min-width: 1200px) {
        background-image: linear-gradient(#090b13, rgba(9, 11, 19, 0.2));
    }
}

.prices-list__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: baseline;

    &:last-child {
        margin-bottom: 0;
    }

    &::before {
        content: "";
        // height: 1px;
        flex-grow: 1;
        // background-color: rgba(157, 164, 189, 0.12);
        border-bottom: 1px solid rgba(157, 164, 189, 0.12);
        margin-left: 6px;
        margin-right: 6px;
    }
}

.prices-list__text {
    color: #9da4bd;
    @include font(14px, null, 2.14, 0.02em);

    @media screen and (max-width: 399px) {
        @include font(3.4vw, null, null, null);
    }

    @media screen and (min-width: 768px) {
        @include font(18px, null, 1.67, null);
    }

    &:first-child {
        order: -1;
    }
}

.prices__btn {
    color: $first-btn-color;
    display: block;
    margin: 0 auto;
}
