.reasons {
    padding: 84px 0;

    @media screen and (min-width: 768px) {
        padding: 100px 0;
    }

    @media screen and (min-width: 1200px) {
        padding: 121px 0 130px;
    }
}

.reasons__container {
    display: flex;

    @media screen and (max-width: 1199px) {
        flex-direction: column-reverse;
    }
}

.reasons__stats {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        align-self: flex-end;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        margin-right: 30px;
        flex-basis: calc((100% - 30px) / 2);
    }
}

.reasons__content {
    margin-bottom: 44px;

    @media screen and (min-width: 768px) {
        width: 500px;
    }
}

.reasons-list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 768px) {
        width: 450px;
    }

    @media screen and (min-width: 1199px) {
        width: 370px;
    }
}

.reasons-list__item {
    width: calc((100% - 30px) / 2);
    background-color: #f7f7f7;
    height: 133px;
    padding: 20px;
    text-align: center;

    &:nth-child(odd) {
        margin-right: 30px;
    }

    &:nth-child(even) {
        margin-top: 30px;
    }
}

.reasons-list__digit {
    text-align: center;
    @include font($fs: 42px, $fw: 700, $ls: 0.05em);
    color: #303030;
    position: relative;

    &::before {
        content: "";
        display: block;
        width: 13px;
        height: 22px;
        background-image: url("../images/icon-plus.svg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 7px;
        right: -15px;
    }
}

.reasons-list__text {
    text-align: center;
    @include font(11px, 600, 1.36, null);
    color: #303030;
    margin-top: 6px;
}

.reasons__pre-title {
    color: #303030;
}

.reasons__title {
    color: $second-title-color;
    margin-bottom: 20px;
}

.reasons__after-title {
    color: #555555;
    @include font(18px, null, 1.67, 0.02em);
}
