.btn {
    font-family: inherit;
    @include font($fs: 12px, $lh: 1.33, $ls: 0.09em);
    text-transform: uppercase;
    border: 1px solid $accent-color;
    border-radius: 25px;
    background-color: transparent;
    min-width: 160px;
    min-height: 40px;
    transition: background-color 300ms linear, color 300ms linear;

    &:hover,
    &:focus {
        background-color: $accent-color;
        color: $first-btn-color;
    }
}
