.pre-title {
    text-transform: uppercase;
    @include font($fs: 11px, $ls: 0.1em);
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &::before {
        content: "";
        height: 1px;
        width: 60px;
        margin-right: 21px;
        background-color: currentColor;
    }
}
