.socials {
    @extend %list;
    display: flex;
    justify-content: center;
}

.socials__item {
    & + & {
        margin-left: 10px;
    }
}

.socials__link {
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #303030;
    transition: color 300ms linear;

    &:hover,
    &:focus {
        color: #ff6c00;
    }
}

.socials__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

// .masters-social-link:hover .masters-social-icon,
// .masters-social-link:focus .masters-social-icon {
//     fill: #ff6c00;
// }
